<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta name="viewport" charset="utf-8" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
   <title>Simonionburg</title>
</head>
<body>
<div><label>Game Count:</label><span><%= gameCount %></span></div>
<div><label>Player Count:</label><span><%= playerCount %></span></div>
</body>
</html>