<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta name="viewport" charset="utf-8" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
   <title>Simonionburg</title>


   <%if (isDev) { %>
   <link rel="stylesheet" href="../style/rules/rules.css">
   <link rel="stylesheet" href="../style/fa.css">
   <% } %>
   <%if (!isDev) { %>
   <link rel="stylesheet" href="../css/rules.css">
   <% } %>

</head>
<body>
   <div id="sw-rules-container">
      <h1 class="text-center">Simonionburg Rules</h1>
      <div class="sw-rule-block">
         <h3>Game Basics</h3>
         <ul>
            <li>You can play with as many people as you'd like (4-6 being optimal).</li>
            <li>Everybody needs their own device: phone, tablet, or computer.</li>
            <li>Simonionburg is a deck-building game.</li>
         </ul>
      </div>
      <div class="sw-rule-block">
         <h3>Game Overview</h3>
         <ul>
            <li>Object of the game is to have the most points at the end of the game.</li>
            <li>Each game is split into rounds. Standard Games have 10 rounds.</li>
            <li>Each round has two phases, <b>Selection Phase</b> (Play cards from your deck) and <b>Buy Phase</b> (Add cards to your deck).</li>
         </ul>
      </div>
      <div class="sw-rule-block">
         <div class="sw-split-rule">
            <div>
               <h3>Screen Breakdown</h3>
               <ul>
                  <li>
                     The screen is split into 4 sections.
                     <ol>
                        <li>The Board.</li>
                        <li>The Inventory.</li>
                        <li>Play Area.</li>
                        <li>Scoreboard.</li>
                     </ol>
                  </li>
               </ul>
               <h4>The Board</h4>
               <ul>
                  <li>Shows you how far you've progressed from playing your cards in the <b>Selection Phase</b>.</li>
               </ul>
               <h4>The Inventory</h4>
               <ul>
                  <li>Click on any card effect to see what it does and how much it costs during the <b>Buy Phase</b>.</li>
                  <li>Shows you how many of each card you have left in your deck during the <b>Selection Phase</b>.</li>
                  <li>Shows how many cards you have total in your deck during the <b>Buy Phase</b>.</li>
               </ul>
               <h4>Play Area</h4>
               <ul>
                  <li>Where you will be doing all the interaction for the game.</li>
                  <li>Details for each phase below.</li>
               </ul>
               <h4>Scoreboard</h4>
               <ul>
                  <li>Shows who has the most points and other various information about you and your opponents.</li>
               </ul>
            </div>
            <div>
               <img id="sw-board-image" src="../images/BoardAreas.png" />
            </div>
         </div>
      </div>
      <div class="sw-rule-block">
         <h3>Selection Phase</h3>
         <ul>
            <li>During this phase, the <b>Play Area</b> is your hand.</li>
            <li>Tap/Click a card in your hand to play it which moves your game piece on the board by the number indicated on the card by the <i class="fa fa-map-marked-alt"></i>.</li>
            <li>
               At the end of the <b>Selection Phase</b>, you will:
               <ul>
                  <li>Earn points <i class="fa fa-award"></i> indicated on the bottom left of the board space you ended on.</li>
                  <li>Earn money <i class="fa fa-money-bill-alt"></i> indicated by the board space number on the top left.</li>
               </ul>
            </li>
            <li>
               For every card that you place on a board space with a gem <i class="fa fa-gem darkred"></i>, you will earn a gem.
            </li>
            <li>Your goal during the <b>Selection Phase</b> is to move as far as you can with your cards to get the most money, points, and gems.</li>
            <li>
               Your deck starts with many <b>Bane</b> <i class="fa fa-skull"></i> cards.
               <ul>
                  <li>During the <b>Selection Phase</b>, you can only move so many spaces with <b>Bane</b> cards (A standard game has a threshold of 7).</li>
                  <li>
                     If you play too many <b>Bane</b> cards, you will <b>Bust</b> <i class="fa fa-skull-crossbones"></i>.
                     <ul>
                        <li><b>Busting</b> will immediately end your <b>Selection Phase</b>.</li>
                        <li>If you <b>Bust</b> you will have to chose between the <i>points</i> or <i>money</i> you've earned on the board during this <b>Selection Phase</b>.</li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li>If your hand has less cards then your total hand size, you have the option of ending your turn.</li>
            <li>If you have a full hand, you are forced to play at least one card (which may end up causing you to bust).</li>
            <li>Try and end your turn before you are stuck with a full hand of <b>Bane</b> cards that will cause you to <b>Bust</b>.</li>
         </ul>

         <div class="sw-split-rule">
            <div>
               <h4>Card Breakdown</h4>
               <ul>
                  <li>
                     A card has multiple points of interest.
                  </li>
               </ul>
               <ol class="no-top-margin">
                  <li>The card name.</li>
                  <li>How many spaces the card will move your piece along the board.</li>
                  <li>A gem will appear if playing this card will land on a gem.</li>
                  <li>The card effect's icon.</li>
                  <li>The information button.  Click to see more information about this card.</li>
               </ol>
               <ul class="no-top-margin">
                  <li>A card will have a highlighted border (as shown on the right) when a special effect can be triggered by playing the card.</li>
                  <li>
                     Additional icons can appear on certain cards.
                     <ul>
                        <li>If playing a <b>Bane</b> will cause you to bust, <i class="fa fa-skull-crossbones"></i> will appear next to the card name.</li>
                        <li>Adding temporary cards to your hand outside of a normal draw, <i class="fa fa-hand-holding-medical"></i> will appear next to the card name.</li>
                     </ul>
                  </li>
               </ul>
            </div>
            <div>
               <img id="sw-board-image" src="../images/LabelledCard.png" />
            </div>
         </div>
      </div>
      <div class="sw-rule-block">
         <h3>Buy Phase</h3>
         <ul>
            <li>Once all players in the game have either <b>Busted</b> or ended their <b>Selection Phase</b>, the <b>Buy Phase</b> begins.</li>
            <li>During the <b>Buy Phase</b>, the <b>Play Area</b> is the <b>Shop</b>.</li>
            <li>The <b>Shop</b> is where you will spend your money to buy new cards and gems to buy enhancements.</li>
            <li>If you <b>Busted</b> during this round's <b>Selection Phase</b>, you have to choose between scoring points or spending money that was earned during the <b>Selection Phase</b>.</li>
            <li>Points earned during the <b>Selection Phase</b> will show up in the scoreboard after everyone has completed the <b>Buy Phase</b>.</li>
            <li>Once you've bought the cards and enhancements for the phase, click "End" to continue to the next round.</li>
         </ul>

         <div class="sw-split-rule">
            <div>
               <h4>Spending Money</h4>
               <ul>
                  <li>Money earned during the <b>Selection Phase</b> will disappear after the <b>Buy Phase</b>.</li>
                  <li>You have a maximum number of cards you can buy during the <b>Buy Phase</b> (Standard game is 2).  You also can only purchase one card of each effect.</li>
                  <li>In the <b>Shop</b>, Click on a card effect to open a popup with more information.</li>
                  <li>Your remaining money, available number of card buys, and gems will be displayed at the top of the popup.</li>
                  <li>Click on a card to buy it.  Each card will display the cost, number of board spaces it will move, and the effect it will have.</li>
                  <li>If you cannot afford a card, you already made a purchase of this card effect, or have used all of your card buys for the phase, the card will be grayed out.</li>
                  <li>Cards you buy during the phase will have a checkmark on them in the shop and the popup.</li>
                  <li>You can refund any purchase by clicking the undo button <i class="fa fa-undo"></i>.</li>
               </ul>
            </div>
            <div>
               <img id="sw-board-image" src="../images/ShopView.png" />
               <hr />
               <img id="sw-board-image" src="../images/BuyCard.png" />
            </div>
         </div>

         <div class="sw-split-rule">
            <div>
               <h4>Spending Gems</h4>
               <ul>
                  <li>Gems will not disappear after the <b>Buy Phase</b>. If you bust, gems earned during the <b>Selection Phase</b> will be added to your gem total for future rounds.</li>
                  <li>In the <b>Shop</b>, Click on <i>Spend Gems</i> to open a popup with more information.</li>
                  <li>You can buy as many enhancements as you are able to with your stash of gems.  However, each time you buy an enhancement, the price of all enhancements go up.</li>
                  <li>Your remaining money, available number of card buys, and gems will be displayed at the top of the popup.</li>
                  <li>Click on an enhancement to buy it.  Each enhancement will display its cost in gems and the title.</li>
                  <li>If you cannot afford an enhancement, it will be grayed out.</li>
                  <li>Enhancements you buy during the phase will have a checkmark on them in the shop and the popup.</li>
                  <li>You can refund any purchase by clicking the undo button <i class="fa fa-undo"></i>.</li>
               </ul>
            </div>
            <div>
               <img id="sw-board-image" src="../images/BuyEnhancement.png" />
            </div>
         </div>
      </div>
      <div class="sw-rule-block">
         <h3>End Of Round</h3>
         <ul>
            <li>Once all players in the game have ended their <b>Buy Phase</b>, each player will see the <b>Round Results</b>.</li>
            <li><b>Round Results</b> display various information including what cards were played and bought by each player as well as how many points were earned.</li>
            <li>You must click the "x" in the top right corner of the <b>Round Results</b> to close the popup (or outside of the popup).</li>
            <li>To revisit the <b>Round Results</b>, click the "Round Results" button on the scoreboard.</li>
            <li>Reexamine previous rounds by clicking the "Previous" button in the <b>Round Results</b> popup.</li>
            <li>Players who are not in the lead will start further on the board during the next <b>Selection Phase</b> (for every 2.25 board spaces behind the leader, start a space further on the board).</li>
         </ul>
      </div>
      <div class="sw-rule-block">
         <h3>End Of Game</h3>
         <ul>
            <li>Once all players in the game have ended the <b>Selection Phase</b> of the last round, the game ends.</li>
            <li>There is no <b>Buy Phase</b> during the last round.</li>
            <li>Money earned during the last round's <b>Selection Phase</b> is converted to points (A standard game converts 8 money into 1 point) if you don't bust.</li>
            <li>Your total gems, including gems you've earned in the last <b>Selection Phase</b>, are converted to points (A standard game converts 8 gems into 1 point) regardless of if you bust or not.</li>
            <li>The end of game screen shows everyone various stats including board spaces moved, number of cards played, total gems earned and more.</li>
         </ul>
      </div>
      <div class="sw-rule-block">
         <h3>Alternative Rules</h3>
         <ul>
            <li>Many of the rules of the game can be bent or broken by cards or enhancements.  Try out various combinations for a fresh experience.</li>
            <li>
               In the pre-game lobby, almost everything can be customized.
               <ul>
                  <li>Number of Rounds</li>
                  <li>Starting Deck</li>
                  <li>Starting Gems</li>
                  <li>Cards/Enhancements available to buy</li>
                  <li>A timer for each phase (defaulted off)</li>
                  <li>End Game Bonuses (award points for performing poorly/well at something)</li>
                  <li>And (an overwhelming amount) more</li>
               </ul>
            </li>
            <li>In the pre-game lobby, various game modes can be selected at the top for prebuilt cards/settings.</li>
            <li>In the case of a disconnect, you should be able to refresh the page (or navigate back to the site) and connect back with your exact username.</li>
         </ul>
      </div>
   </div>
</body>
</html>