<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta name="viewport" charset="utf-8" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
   <title>Simonionburg</title>
   <link rel="stylesheet" href="../style/rules.css">
   <link rel="stylesheet" href="../style/fa.css">
</head>
<body>
   <div id="sw-rules-container">
      <h1 class="text-center">Simonionburg Rules</h1>
      <div class="sw-rule-block">
         <h3>Game Basics</h3>
         <ul>
            <li>You can play with as many people as you'd like (4-6 being optimal).</li>
            <li>Everybody needs their own device: phone, tablet, or computer.</li>
            <li>Simonionburg is a deck-building game.</li>
         </ul>
      </div>
      <div class="sw-rule-block">
         <h3>Game Overview</h3>
         <ul>
            <li>Object of the game is to have the most points at the end of the game.</li>
            <li>Each game is split into rounds. Standard Games have 10 rounds.</li>
            <li>Each round has two phases, <b>Selection Phase</b> (Play cards from your deck) and <b>Buy Phase</b> (Add cards to your deck).</li>
         </ul>
      </div>
      <div class="sw-rule-block">
         <div class="sw-split-rule">
            <div>
               <h3>Screen Breakdown</h3>
               <ul>
                  <li>The screen is split into 4 sections.</li>
               </ul>
               <ol>
                  <li>The Board.</li>
                  <li>The Inventory.</li>
                  <li>Play Area.</li>
                  <li>Scoreboard.</li>
               </ol>
               <h4>The Board</h4>
               <ul>
                  <li>Shows you how far you've progressed from playing your cards in the <b>Selection Phase</b>.</li>
               </ul>
               <h4>The Inventory</h4>
               <ul>
                  <li>Shows you how many of each card you have left in your deck during the <b>Selection Phase</b>.</li>
                  <li>Shows how many cards you have total in your deck during the <b>Buy Phase</b>.</li>
               </ul>
               <h4>Play Area</h4>
               <ul>
                  <li>Where you will be doing all the interaction for the game.</li>
                  <li>Details for each phase below.</li>
               </ul>
               <h4>Scoreboard</h4>
               <ul>
                  <li>Shows who has the most points and other various information about you and your opponents.</li>
               </ul>
            </div>
            <div>
               <img id="sw-board-image" src="../images/BoardAreas.png" />
            </div>
         </div>
      </div>
      <div class="sw-rule-block">
         <h3>Selection Phase</h3>
         <ul>
            <li>During this phase, the <b>Play Area</b> acts as your hand.</li>
            <li>Tap/Click a card in your hand to play it which advances your game piece on the board by the number indicated on the card by the <i class="fa fa-map-marked-alt"></i>.</li>
            <li>
               At the of the <b>Selection Phase</b>, you will:
               <ul>
                  <li>Earn points <i class="fa fa-award"></i> indicated on the bottom left of the board space you ended on.</li>
                  <li>Earn money <i class="fa fa-money-bill-alt"></i> indicated by the board space number on the top left.</li>
               </ul>
            </li>
            <li>
               For every card that you place on a board space with a gem <i class="fa fa-gem darkred"></i>, you will earn a gem.
               <ul>
                  <li>Board spaces with gems <i class="fa fa-gem darkred"></i> that are passed over will not earn you gems.</li>
                  <li>Try to play your cards in the order that yields you the most gems.</li>
               </ul>
            </li>

         </ul>
      </div>
   </div>
</body>
</html>