<div class="sw-popup sw-popup-medium sw-effect-add-popup" ng-if="$ctrl.effectChooserHelper.chosenEffectCallback != undefined || $ctrl.effectChooserHelper.chosenEnhancementCallback != undefined" ng-click="$ctrl.effectChooserHelper.closeAll()">
   <div class="sw-content">
      <div class="sw-popup-header">Pick an Effect to add.</div>
      <div class="sw-popup-body" ng-click="$event.stopPropagation()">
         <div class="sw-add-amount-container" ng-if="$ctrl.effectChooserHelper.showSlider">
            Amount {{$ctrl.effectChooserHelper.amount}}:
            <input type="range" min="1" max="4" ng-model="$ctrl.effectChooserHelper.amount" />
         </div>
         <ul ng-if="$ctrl.effectChooserHelper.showEffect" class="nav nav-tabs">
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(0)}" ng-click="$ctrl.clickTab(0)">All</span></li>
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(1)}" ng-click="$ctrl.clickTab(1)">Keys</span></li>
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(2)}" ng-click="$ctrl.clickTab(2)">Movers</span></li>
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(3)}" ng-click="$ctrl.clickTab(3)">Points</span></li>
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(4)}" ng-click="$ctrl.clickTab(4)">Gems</span></li>
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(5)}" ng-click="$ctrl.clickTab(5)">Hand Size</span></li>
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(6)}" ng-click="$ctrl.clickTab(6)">Play More</span></li>
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(7)}" ng-click="$ctrl.clickTab(7)">Buys</span></li>
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(8)}" ng-click="$ctrl.clickTab(8)">Bane</span></li>
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(9)}" ng-click="$ctrl.clickTab(9)">Unique</span></li>
            <li class="nav-item"><span class="nav-link" ng-class="{'active':$ctrl.isTabActive(10)}" ng-click="$ctrl.clickTab(10)">Attacks</span></li>
         </ul>
         <div class="effect-container">
            <div ng-if="$ctrl.effectChooserHelper.showEffect" ng-attr-class="sw-settings-hand-card {{$ctrl.getCardClass(effect)}}" ng-repeat="effect in $ctrl.getAvailableEffects() track by $index" ng-click="$ctrl.choseEffect(effect)">
               <span>{{$ctrl.getCardName(effect)}}</span>
               <i ng-attr-class="{{$ctrl.getCardIconClass(effect)}}"></i>
               <span class="info-container" ng-click="$event.stopPropagation(); $ctrl.getEffectInfo(effect)"><i class="fa fa-info"></i></span>
            </div>
            <div ng-if="!$ctrl.effectChooserHelper.showEffect" ng-attr-class="sw-settings-hand-card sw-enhancement-background" ng-repeat="enhancement in $ctrl.getAvailableEnhancements() track by $index" ng-click="$ctrl.choseEnhancement(enhancement)">
               <span>{{$ctrl.getEnhancementName(enhancement)}}</span>
               <i class="fa fa-gem"></i>
               <div class="info-container" ng-click="$event.stopPropagation(); $ctrl.getEnhancementInfo(enhancement)"><i class="fa fa-info"></i></div>
            </div>
         </div>
      </div>
      <button class="btn btn-light sw-popup-footer sw-card-information-footer" ng-click="$ctrl.effectChooserHelper.closeAll()">
         <div>Close</div>
      </button>
   </div>
</div>