<div class="sw-popup sw-popup-medium">
   <div class="sw-content">
      <div class="sw-popup-header" ng-click="$ctrl.globalSettings.isShowing = false">Settings</div>
      <div class="sw-popup-body">
         <div>
            <div>
               Zoom <div class="btn-group">
                  <div class="btn btn-light" ng-class="{'active':$ctrl.globalSettings.scaleOption == 0}" ng-click="$ctrl.setScale(0)">100%</div>
                  <div class="btn btn-light" ng-class="{'active':$ctrl.globalSettings.scaleOption == 1}" ng-click="$ctrl.setScale(1)">98%</div>
                  <div class="btn btn-light" ng-class="{'active':$ctrl.globalSettings.scaleOption == 2}" ng-click="$ctrl.setScale(2)">95%</div>
                  <div class="btn btn-light" ng-class="{'active':$ctrl.globalSettings.scaleOption == 3}" ng-click="$ctrl.setScale(3)">90%</div>
               </div>
            </div>
            <div>
               Assist <div class="btn-group">
                  <div class="btn btn-light" ng-class="{'active': !$ctrl.globalSettings.assistMode}" ng-click="$ctrl.setAssistMode(false)">No</div>
                  <div class="btn btn-light" ng-class="{'active': $ctrl.globalSettings.assistMode}" ng-click="$ctrl.setAssistMode(true)">Yes</div>
               </div>
            </div>
         </div>
         <div>
            <h1>How To Play</h1>
            <div class="sw-how-to-play">
               <h2>Objective:</h2>
               <div>A game is a series of rounds.  At the end of the game, the player with the most points wins.</div>
               <div>Points are scored at the end of each round.  Additional points are awarded at the end of the game depending on how well you did on the last round.  You may also score points other ways during a round.</div>
               <div>A round consists of two phases.  The first phase you play cards and progress along the game board, this is the "Selection" phase.  The second phase you buy cards and enhancements, this is called the "Buy" phase.</div>
               <h2>Selection Phase:</h2>
               <div>During the selection phase, you play as many cards as you can without busting.  Each card has a number next to it which is the amount it will progress you along the board.  Each card has a unique effect, clicking on a card in the inventory (middle of the screen) will tell you more about it.</div>
               <div>Busting is when you play too many "Bane" cards.  The bane count will show in the inventory on the "Bane" card.  You can safely reach zero, but be careful drawing too many cards or you will be stuck with too many banes and end up busting!</div>
               <div>Progressing along the board will earn you points, money, and gems.  Points are shown on the bottom left.  Money is shown on the top left and is the same as the board space.  Gems are located on the bottom right.</div>
               <div>To earn gems, you must play a card directly on a space with a gem.  Passing a gem without landing on it will not reward you a gem.</div>
               <h2>Buy Phase:</h2>
               <div>After the selection phase, you enter the buy phase.  During the buy phase, you spend your money and gems to buy new cards and enhancements.  If you busted during the selection phase, you must choose between scoring points or buying.</div>
               <div>Money earned during the selection phase will disappear after the buy phase.  Gems earned will continue to carry over to future rounds.  Always spend your money, but it may be a good strategy to hold on to your gems.</div>
               <div>Spend your money on new cards.  Some cards have different point values.  The higher the points, the more effect the card has and the further it moves you along the game board.  Buying higher point value cards is always a good strategy.</div>
               <div>You can only purchase one card from each effect (but as many cards as you want as long as they are all distinct effects).</div>
               <div>Spend your gems on enhancements.  An enhancement can sometimes just be applicable during the buy phase, but oftentimes will apply for the remainder of the game.</div>
               <div>Only one enhancement can be purchased each round, so make sure you spend your gems if you have an abundance. There is an enhancement you can buy to enable a second enhancement to be purchased and a second card of the same effect to be purchased.</div>
            </div>
         </div>
      </div>
      <button class="btn btn-light sw-popup-footer" ng-click="$ctrl.globalSettings.isShowing = false">
         <div>Close</div>
      </button>
   </div>
</div>