<div class="sw-popup sw-popup-medium">
   <div class="sw-content">
      <div class="sw-popup-header" ng-click="$ctrl.globalSettings.isShowing = false">Settings</div>
      <div class="sw-popup-body">
         <div>
            <div>
               Assist <div class="btn-group">
                  <div class="btn btn-light" ng-class="{'active': !$ctrl.globalSettings.assistMode}" ng-click="$ctrl.setAssistMode(false)">No</div>
                  <div class="btn btn-light" ng-class="{'active': $ctrl.globalSettings.assistMode}" ng-click="$ctrl.setAssistMode(true)">Yes</div>
               </div>
            </div>
         </div>
      </div>
      <button class="btn btn-light sw-popup-footer" ng-click="$ctrl.globalSettings.isShowing = false">
         <div>Close</div>
      </button>
   </div>
</div>